@using Crito.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "LayoutWithBreadcrumb.cshtml";

    var contactForm = new ContactForm();
}

@await Html.PartialAsync("_ContactInfoSection")

    <section class="contact-form">
        <div class="container">
            <div class="center-content">
                <h2>Leave us a message for any information.</h2>
            </div>

            @using (Html.BeginUmbracoForm("index", "contacts", FormMethod.Post))
            {
                <div asp-validation-summary="All"></div>
                
                <input asp-for="@contactForm.Name" type="text" placeholder="Name*">
                <input asp-for="@contactForm.Email" type="email" placeholder="Email*">
                <textarea asp-for="@contactForm.Message" placeholder="Your Message*"></textarea>
                
                <div class="d-grid">
                    <button type="submit" class="btn-theme">Send Message <i class="fa-solid fa-arrow-up-right"></i></button>
                </div>
            }
        </div>
    </section>
    
@await Html.PartialAsync("_MapSection")