@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="about-company">
        <div class="container">
            <div class="left-column">
                <img class="staff-img" src="~/images/employees/samantha-brown.png" alt="A woman in blue shirt is walking in the hallway of an office, smiling while holding a laptop in her arm.">
                <div class="blue-box">
                    <div class="name-title">
                        <div class="name">Samantha Brown,</div>
                        <div class="job-title">Founder</div>
                    </div>
                    <div class="quote">"Lorem ipsum dolor sit amet consectetur<br /> adipisicing elit."</div>
                </div>
            </div>

            <div class="right-column">
                <div class="category-title">About Company</div>
                <div class="title">
                    <h2>We Are Business <br />Consulting & Credit<br /> Repair Experts</h2>
                </div>
                <div class="text-one">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam officiis quas assumenda esse obcaecati? Ex esse error voluptates iure vel totam eos.</div>
                <div class="text-two">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis esse quasi incidunt adipisci accusantium libero provident voluptate amet.</div>
                <div class="buttons">
                    <div class="button-left">
                        <a class="btn-black" href="???">Learn More <i class="fa-solid fa-arrow-up-right"></i></a>
                    </div>
                    <div class="button-right">
                        <a class="btn-play" href="???"><i class="fa-sharp fa-regular fa-circle-play align-middle"></i>Intro Video</a>
                    </div>
                </div>
            </div>
        </div>
    </section>