@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="article-news">
        <div class="container">
            <div class="category-title">Article & News</div>
            <div class="title-button">
                <h2>Get Every Single Article & News</h2>
                <a class="btn-theme" href="articles.html">Browse Articles <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
            <div class="articles">
                <article>
                    <img src="~/images/stockfootage/woman-desk.png" alt="A woman sitting beside a desk smiling, wearing a darkgray blazer.">
                    <div class="category">Business</div>
                    <h3>How To Use Digitalization In The Classroom</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </article>

                <article>
                    <img src="~/images/stockfootage/chat-gpt.png" alt="A screen showing landingpage of chatgpt.">
                    <div class="category">Business</div>
                    <h3>How To Implement Chat GPT In Your Projects</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </article>

                <article>
                    <img src="~/images/stockfootage/development-books.png" alt="Two books about development stacked and on top lies a smartphone.">
                    <div class="category">Business</div>
                    <h3>The Guide To Support Modern CSS Design</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </article>
            </div>
            <div class="center-content">
                <img src="~/images/icons/dots.png" alt="Dots.">
            </div>
        </div>
    </section>