@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <section class="contact-info">
        <div class="container">
            <div class="info-box">
                <img src="~/images/icons/pin.png" alt="A pin icon.">
                <div class="text">
                    <div class="title">Visit us</div>
                    <div class="line-one">Sveavägen 31</div>
                    <div class="line-two">111 34 STOCKHOLM</div>
                </div>
            </div>

            <div class="info-box">
                <img src="~/images/icons/telephone.png" alt="A phone icon.">
                <div class="text">
                    <div class="title">Call Us</div>
                    <div class="line-one">+46 (8) 121 470 50</div>
                    <div class="line-two">+46 (8) 121 470 51</div>
                </div>
            </div>

            <div class="info-box">
                <img src="~/images/icons/envelope.png" alt="A email icon.">
                <div class="text">
                    <div class="title">Email Us</div>
                    <div class="line-one">info@crito.com</div>
                    <div class="line-two">support@crito.com</div>
                </div>
            </div>
        </div>
    </section>