@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="features">
        <div class="container">
            <div class="left-column">
                <div class="category-title">Features</div>
                <div class="title">
                    <h2>Our Accounting is <br /> trusted by thousands <br />of companies</h2>
                </div>
                <a class="btn-theme" href="???">Learn More <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
            <div class="cards">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <i class="fa-light fa-handshake fa-2x"></i>
                        <h6>Business Advice</h6>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <i class="fa-light fa-lightbulb fa-2x"></i>
                        <h6>Startup Business</h6>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <i class="fa-light fa-money-bill fa-2x"></i>
                        <h6>Financial Advice</h6>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <i class="fa-light fa-list-check fa-2x"></i>
                        <h6>Risk management</h6>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>