@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <section class="meet-our-team">
        <div class="container">
            <div class="category-title">Meet Our Team</div>
            <div class="top-content">
                <h2>Experience Team Members</h2>
                <div class="team-button">
                    <a class="btn-theme" href="team.html">Browse Team <i class="fa-solid fa-arrow-up-right"></i></a>
                </div>
            </div>
            <div class="team-members">
                <div class="employee">
                    <img src="~/images/employees/kristine-palmer.png" alt="A woman with brown short curly hair, wearing a black tshirt and a striped jacket.">
                    <div class="name">Kristine Palmer</div>
                    <div class="job-title">Chef Operation Officer</div>
                </div>
    
                <div class="employee">
                    <img src="~/images/employees/mark-aubri.png" alt="A man with shaved head wearing a white shirt and black blazer.">
                    <div class="name">Mark Aubri</div>
                    <div class="job-title">Senior Consultant</div>
                </div>
    
                <div class="employee">
                    <img src="~/images/employees/kimberly-hansen.png" alt="A woman with long black braids, with a black dress and a book in her knee.">
                    <div class="name">Kimberly Hansen</div>
                    <div class="job-title">Senior Consultant</div>
                </div>
    
                <div class="employee">
                    <img src="~/images/employees/justin-willoman.png" alt="A man with short dark brown hair wearing a black jacket.">
                    <div class="name">Justin Willoman</div>
                    <div class="job-title">Senior Tech Consultant</div>
                </div>
            </div>
        </div>
        <div class="white-box">
            <div class="category-title">Testimonial</div>
            <h2>What Our Client Says</h2>
            <div class="reviews">
                <div class="review">
                    <div class="card-rating">
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                    </div>
                    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                    <div class="reviewer">
                        <div class="round-image">
                            <img src="~/images/employees/cassandra-warren.png" alt="???">
                        </div>
                        <div class="name-job">
                            <div class="name">Cassandra Warren</div>
                            <div class="job-title">Business Manager, Dorfus</div>
                        </div>
                    </div>
                </div>

                <div class="review">
                    <div class="card-rating">
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                    </div>
                    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                    <div class="reviewer">
                        <div class="round-image">
                            <img src="~/images/employees/amanda-tulling.png" alt="???">
                        </div>
                        <div class="name-job">
                            <div class="name">Amanda Tulling</div>
                            <div class="job-title">Senior Developer, Square</div>
                        </div>
                    </div>
                </div>

                <div class="review">
                    <div class="card-rating">
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                    </div>
                    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                    <div class="reviewer">
                        <div class="round-image">
                            <img src="~/images/employees/jack-mcdogglas.png" alt="???">
                        </div>
                        <div class="name-job">
                            <div class="name">Jack Mcdogglas</div>
                            <div class="job-title">Key Account Manager, Gobona</div>
                        </div>
                    </div>
                </div>
   
            </div>
            <div class="center-content">
                <a class="btn-black" href="reviews.html">All Reviews <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
        </div>
    </section>