@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <section class="newsletter-signup">
        <img class="background-lines-img" src="images/background-wavy-lines.svg" alt="">
        <div class="container">
            <h2>Get News Updates By Signup</h2>
            <div class="buttons">
                <a class="btn-theme email" href="articles.html">username@domain.com</a>
                <a class="btn-theme subscribe" href="articles.html">Subscribe <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
        </div>
    </section>
