@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <section class="newsletter-signup">
        <img class="background-lines-img" src="images/background-wavy-lines.svg" alt="">
        <div class="container">
            <h2>Get News Updates By Signup</h2>
            <div class="form-and-button">
                <form action="subscribe">
                    <input name="email" type="email" placeholder="username@domain.com">
                </form>
                <div class="button">
                    <a class="btn-theme subscribe" href="">Subscribe <i class="fa-solid fa-arrow-up-right"></i></a>
                </div>
            </div>
        </div>
    </section>