@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <section class="project-case-studies">
        <div class="container">
            <div class="category-title">Project & Case Studies</div>
            <h2>Let's Look At Our Global Projects</h2>
            <div class="project-and-cases">
                <article>
                    <img src="~/images/stockfootage/magazine.png" alt="Two hands holding a Business magazine">
                    <h3>Grow your business</h3>
                    <a href="#">Read More<i class="fa-regular fa-arrow-up-right"></i></a>
                </article>
                <article>
                    <img src="~/images/stockfootage/glasses-smartwatch.png" alt="A pair of glasses, smartwatch and a smartphone">
                    <h3>Why your client needs a responsive website</h3>
                    <a href="#">Read More<i class="fa-regular fa-arrow-up-right"></i></a>
                </article>
                <article>
                    <img src="~/images/stockfootage/paper-pen.png" alt="Coffemug, laptop, paper and pen">
                    <h3>Educate your employees to get better results</h3>
                    <a href="#">Read More<i class="fa-regular fa-arrow-up-right"></i></a>
                </article>
                <article>
                    <img src="~/images/stockfootage/laptop.png" alt="Laptop showing business statistics">
                    <h3>Business Insights is a important piece of your business</h3>
                    <a href="#">Read More<i class="fa-regular fa-arrow-up-right"></i></a>
                </article>
            </div>
            <div class="center-content">
                <a class="btn-black" href="projects.html">All Recent Projects <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
        </div>
    </section>
