@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <section class="why-choose-us">
        <div class="container">
            <div class="content-wrapper">
                <div class="left-column">
                    <div class="category-title">Why Choose Us</div>
                    <div class="title">
                        <h2>Why We Are The Best Business Consulting Agency</h2>
                    </div>
    
                    <div class="info">
                        <div class="icon">
                            <img src="~/images/icons/thumbsup-icon.png" alt="Thumb up icon.">
                        </div>
                        <div class="title-preamble">
                            <div class="title">Process Excellence</div>
                            <div class="preamble">Lorem, ipsum dolor sit amet consectetur.</div>
                        </div>
                    </div>
    
                    <div class="info">
                        <div class="icon">
                            <img src="~/images/icons/diamond-icon.png" alt="Diamond icon.">
                        </div>
                        <div class="title-preamble">
                            <div class="title">Strategic Planning</div>
                            <div class="preamble">Lorem, ipsum dolor sit amet consectetur.</div>
                        </div>
                    </div>
    
                    <div class="info">
                        <div class="icon">
                            <img src="~/images/icons/design-icon.png" alt="Design icon.">
                        </div>
                        <div class="title-preamble">
                            <div class="title">Experience Design</div>
                            <div class="preamble">Lorem, ipsum dolor sit amet consectetur.</div>
                        </div>
                    </div>
    
                    <div class="info">
                        <div class="icon">
                            <img src="~/images/icons/intelligence-icon.png" alt="Intelligence icon.">
                        </div>
                        <div class="title-preamble">
                            <div class="title">Articifial Intelligence</div>
                            <div class="preamble">Lorem, ipsum dolor sit amet consectetur.</div>
                        </div>
                    </div>
                </div>
                <div class="right-column">
                    <img class ="right-image" src="~/images/stockfootage/women-office.png" alt="Two women sitting in front of a table, one woman is holding an ipad.">
                </div>
            </div>
        </div>
    </section>